<div class="position-relative">
    <nav class="flex-column mt-0 container position-fixed" style="width: 15%;">
        <a class="pb-3 mb-md-0 me-md-auto text-dark text-decoration-none ps-3">
            <span class="fs-5 d-none d-sm-inline ">Logo</span>
        </a>
        <hr>
       <ul class="nav my-3">
           <li class="nav-item my-2">
                <a class="nav-link active" routerLink="/dashboard/main">Dashboard</a>
           </li>  
           <li class="nav-item my-2">
                <a class="nav-link "  routerLink="#">Classes</a>
            </li> 
            <li class="nav-item my-2">
                <a class="nav-link "  routerLink="#">Resources</a>
            </li> 
            <li class="nav-item my-2">
                <a class="nav-link "  routerLink="#">Learning plan</a>
            </li> 
            <li class="nav-item my-2">
                <a class="nav-link "  routerLink="#">Settings</a>
            </li> 
       </ul>
        <div class="text-center">
            <div class="rounded  p-3 mt-5 " style="background-color: rgb(236, 233, 241);">
                Upgrade to <b>Pro</b> for
                more resources
                <button type="button" class="btn btn-primary my-3">Upgrade</button>
            </div>
            
        </div>
    </nav>
</div>